* {
  margin: 0;
}


.center {
    width: 80vw;
  }

.left {
  width: 20vw;
  overflow:visible;

}

.column {
  float: left;  
  height: 100vh;
}

#sidebar > div {
  width: 100%;   /* or a specific width */
  height: 200px; /* Adjust height as needed */
}