* {
  margin: 0;
}


.center {
    width: 79vw;
  }

.left {
  width: 20vw;
  overflow:visible;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  overflow-y: scroll;
}



.column {
  float: left;  
  height: 100vh;
 
}

#sidebar > div {
  width: 100%;   /* or a specific width */
  height: 20vh; /* Adjust height as needed */
}


ul {
  list-style-type: none;
  padding: 0;
  overflow-y:scroll;
  height:100vh
}

ul li {
  display: flex; /* Make the li a flex container */
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  text-align: center; /* Center text inside the li */
  width: 100%; /* Full width for the li */
  height: 20vh; /* Set a specific height to li for demonstration */
  padding: 10px;
  box-sizing: border-box;
  opacity: 0.8;
  border-radius: 15px;
}


ul li:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}


ul li:nth-child(even){
  background-color: #f7f7f7;
}

.sideMapDiv {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}


.sideMapDiv .title {
  width: 100%;
  margin-top: 20px; /* Adjust the value to control the spacing */
}
/*
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e2002b;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center; /* Vertically centers the buttons */
  align-items: stretch;
}

.nav-list a {
  display: flex;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
}

.nav-list a:hover {
  background-color: #aa0523;
  color: #fff;
  font-weight: bold; /* Make it more prominent */
}

.nav-list a.active {
  background-color: #fff;
  color: #e2002b;
  border-bottom: 3px solid #e2002b; /* Highlight the active link */
}
*/