* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.close-button{
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
}

#map{
  z-index:1;
  position: relative
}

#detail-view {
  position: absolute; /* Position it relative to the nearest positioned ancestor (the body in this case) */
  bottom: 0; /* Position it at the bottom of the screen */
  right: 0; /* Position it at the right side of the screen */
  z-index: 2;
  background-color: white;
  display: none;
}

.center {
    width: 80vw;
    position: absolute; 
    right: 0; 
  }

.left {
  width: 20vw;
  overflow:visible;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  overflow-y: scroll;
}

.column {
  float: left;  
  height: 100vh;
}

#sidebar > div {
  width: 100%; 
}


/* Set the ul to display as a block */
ul {
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  height: 100vh;
  display: block; /* Ensure the list is displayed as a block */
}

ul li {
  position: relative;           
  display: block;               
  text-align: center;           
  width: 100%;                                  
  padding: 10px;                
  margin-bottom: 15px;          
  border: 1px solid #ddd;       
  border-radius: 15px;         
  overflow: hidden;             
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  opacity: 0.8;                 
  box-sizing: border-box;       
}

ul li:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.sideInfoDiv {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

.sideInfoDiv .title {
  width: 100%;
  margin-top: 20px; /* Adjust the value to control the spacing */
}


.top-bar {
  width: 100%;
  height: 8px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

.top-bar-Hike{
  background-color: red; 
}

.top-bar-Run{
  background-color: blue; 
}

.top-bar-Ride{
  background-color: green; 
}

.top-bar-TrailRun{
  background-color: purple; 
}

.top-bar-MountainBikeRide{
  background-color: lightblue; 
}


/*
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e2002b;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  align-items: stretch;
}

.nav-list a {
  display: flex;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%;
  align-items: center; 
  justify-content: center; 
}

.nav-list a:hover {
  background-color: #aa0523;
  color: #fff;
  font-weight: bold; 
}

.nav-list a.active {
  background-color: #fff;
  color: #e2002b;
  border-bottom: 3px solid #e2002b; 
}
*/